<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .btn {
      position: fixed;
      left: 45vw;
      top: 45vh;
      width: 100px;
      height: 100px;
      background-color: #0a0;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="box" @click="active = false">
        <button @click="btn">按钮</button>
        <div class="msg" ref="msgRef"></div>

        <br>

        <button @click="addBox">增加</button>
        <ul>
          <li v-for="(item, index) in arr" :key="index">{{item}}</li>
        </ul>

        <br>

        <button @click.stop="open">下拉框{{n}}</button>
        <ul v-show="active" style="width:100px;height:100px;background:#0aa;text-align:center;">
          <li>
            <button @click="turn">选项一</button>
          </li>
          <li>
            <button @click="turn">选项二</button>
          </li>
        </ul>
    </div>
    <input type="text" v-model="watchVal">

    <h3>-------- 改数组 --------</h3>
    <div v-for="(item, index) in change">
      <button @click.prevent.stop="changeArr(index)">button</button>
      <div style="width:100px;height:100px;background:#a00" v-if="item.show"></div>
    </div>
    <h3>-------- 拖拽 --------</h3>
    <div class="btn" @mousedown="drag"></div>
    <h3>-------- v-once --------</h3>
    <span v-once>{{once}}</span>
    <button @click="changeOnce">once++</button>
    <button v-bind:disabled="isButtonDisabled">Button</button>
    <h3>-------- keyup --------</h3>
    <input @keyup.enter="input">
    <h3>-------- mouse --------</h3>
    <button @click.right.prevent="right">mouse</button>
    <h3>-------- lazy --------</h3>
    <input type="text" v-model.lazy="lazy" @change="lazyChange" @input="lazyInput">
    <input type="text" v-model="notLazy" @change="notLazyChange" @input="notLazyInput">
  </div>
  <script src="./vue.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data() {
        return {
          arr: [],
          active: false,
          n: 1,
          d: this,
          m: this.btn,
          watchVal: '',
          change: [
            {
              show: true
            },
            {
              show: true
            }
          ],
          isDrag: false,
          once: 1,
          isButtonDisabled: false,
          lazy: '',
          notLazy: '',
        }
      },
      mounted() {
      },
      watch: {
        watchVal (newVal, oldVal) {
          console.log(newVal, '新')
          console.log(oldVal, '旧')
        }
      },
      methods: {
        btn () {
          let span = document.createElement('span')
          span.innerHTML = 'h'
          // this.$refs.msgRef.appendChild(span)
          // document.body.appendChild(span)
          document.querySelector('.msg').appendChild(span)
          this.active = false
        },
        addBox () {
          this.arr.push(this.arr.length + 1)
        },
        open() {
          this.active = !this.active
        },
        turn() {
          this.n = 3
        },
        changeArr (i) {
          this.$set(this.change[i], 'show', !this.change[i].show)
        },
        drag (e) {
          let btn = document.querySelector('.btn')
          // 鼠标坐标与按钮坐标的差值
          let mToBtnX = e.clientX - btn.offsetLeft
          let mToBtnY = e.clientY - btn.offsetTop
          document.onmousemove = e => {
            // 按钮的新坐标
            btn.style.left = e.clientX - mToBtnX + 'px'
            btn.style.top = e.clientY - mToBtnY + 'px'
          }
          document.onmouseup = () => {
            document.onmousemove = null
            document.onmouseup = null
          }
        },
        changeOnce () {
          ++ this.once
          console.log(this.once)
        },
        right () {
          alert('right')
        },
        input (e) {
          console.log(e, '$event')
        },
        lazyChange (e) {
          console.log(e, 'lazyChange')
          console.log(this.lazy, 'lazy')
        },
        notLazyChange (e) {
          console.log(e, 'notLazyChange')
          console.log(this.notLazy, 'notLazy')
        },
        lazyInput (e) {
          console.log(e, 'lazyInput')
          console.log(this.lazy, 'lazy')
        },
        notLazyInput (e) {
          console.log(e, 'notLazyInput')
          console.log(this.notLazy, 'notLazy')
        },
      }
    })
  </script>
</body>
</html>